<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <img src="{{'logo_transparent.png' | asset_url}}" width="150px" height="100px">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                    {% assign current_url = request.path %}
                    {% for item in linklists.main-menu.links %}
                        <li class="scroll-to-section{% if item.links.size > 0 %} submenu{% endif %}">
                           <a href="{{ item.url }}" class="{% if current_url == item.url %}active{% endif %}">{{ item.title }}</a>
                           {% comment %}
                              Check if the item has a submenu
                           {% endcomment %}
                           {% if item.links.size > 0 %}
                              <ul>
                                 {% comment %}
                                    Loop through submenu items
                                 {% endcomment %}
                                 {% for subitem in item.links %}
                                    <li>
                                       <a href="{{ subitem.url }}">{{ subitem.title }}</a>
                                    </li>
                                 {% endfor %}
                              </ul>
                           {% endif %}
                        </li>
                     {% endfor %}
                    </ul>     
                        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->