<div class="col-lg-4">
    <div class="item">
        <div class="thumb">
            <div class="hover-content">
                <ul>
                    <li><a href="{{product.url}}"><i class="fa fa-eye"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="/cart/add?id={{ product.id }}&quantity=1&variant={{ product.first_available_variant.id}}"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
            <img src="{{product.featured_image | image_url: width: 400}}" alt="">
        </div>
        <div class="down-content">
            <h4>{{product.title}}</h4>
            <span>{{ product.price | money_with_currency  }}</span>
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
        </div>
    </div>
</div>