<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top" style="margin-top:0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Your Cart</h2>
                    <span style="display:none;">Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
{% form 'cart', cart %}
    {% if cart.empty? %}
        <h2 class="text-center"> Hey! Your Cart is Empty.</h2>
    {% else %}
        <table class="table table-sm">
            <thead class="text-center">
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody class="text-center">
        
        {% for item in cart.items %}
            <tr>
                <td>
                    <div class="row">
                        <div class="col-6" style="vertical-align:middle;"><img src="{{item.image | image_url: width: 100}}"/></div>
                        <div class="col-6" style="vertical-align:middle;">{{item.title}}</div>
                    </div>
                </td>
                <td>{{item.price | money}}</td>
                <td>
                    <div class="quantity buttons_added">
                        <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="4" name="updates[]" value="{{item.quantity}}" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
                    </div>
                   
                    {% comment %} <input type="number" name="updates[]" value="{{item.quantity}}"> {% endcomment %}
                </td>
                <td>{{item.final_line_price | money}} &nbsp; &nbsp;
                    <a class="btn btn-danger btn-sm" href="{{item.url_to_remove}}">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        <hr/>
        <div class="row">
            <div class="col-12  text-right pr-4">
                <h2>Subtotal: {{cart.total_price | money}}</h2>
                <br>
                <button type="submit" name="update" class="btn btn-primary">Update Quantity</button> &nbsp; &nbsp;
                <button type="submit" name="checkout" class="btn btn-success">Checkout</button>
            </div>
        </div>
        
    {% endif %}
{% endform %}
